.header {
  background-color: #F9EDD6; /* Фон на случай, если изображение не загрузится */
  background-image: url('../../image/vax6.webp'); /* Путь к вашему изображению */
  background-size: cover; /* Обеспечивает, что изображение покрывает весь хедер */
  background-position: center; /* Центрирует изображение */
  color: black; /* Цвет текста */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border: 1px solid black; /* Черная рамка */
  width: 100%; /* Ширина 100% */
  box-sizing: border-box; /* Учитывает отступы и границы */
  position: relative; /* Позиционирует хедер относительно */
  z-index: 1; /* Находится выше контента */
}

.logo {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  color: black; /* Цвет текста */
  text-decoration: none;
  font-size: 1.5em;
}

.nav-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* Позволяет переносить элементы на новую строку */
  font-size: larger;
}

.nav-links ul li {
  margin: 0 10px;
}

.nav-links ul li a {
  color: black; /* Цвет текста */
  text-decoration: none;
  padding: 5px 10px; /* Отступы для кнопок */
  border-radius: 5px; /* Скругленные углы */
  transition: background-color 0.5s; /* Плавный переход */
  background-color: #f7eaee; /* Полупрозрачный фон */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Полупрозрачная обводка */
  border-radius: 10%;
}

.nav-links ul li a:hover {
  background-color: #f3cea1; /* Цвет фона при наведении */
}

.hamburger {
  display: none; /* Скрываем гамбургер-меню по умолчанию */
  flex-direction: column;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}

/* Адаптивный дизайн для мобильных устройств */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Скрываем навигацию по умолчанию */
    flex-direction: column;
    width: 100%;
    position: absolute; /* Абсолютное позиционирование */
    top: 100%; /* Меню ниже хедера */
    left: 0;
    background-color: #fff6f6; /* Фон совпадает с общим фоном */
    border-top: 1px solid black; /* Верхняя граница */
    border-bottom: 1px solid black; /* Нижняя граница */
    z-index: 0; /* Меню под хедером */
  }

  .nav-links.open {
    display: flex; /* Отображаем навигацию при открытии */
  }

  .nav-links ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav-links ul li {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .nav-links ul li a:hover {
    background-color: #f3cea1; /* Цвет фона при наведении */
  }

  .hamburger {
    display: flex; /* Показываем гамбургер-меню */
  }
}
