.home {
  text-align: center;
  padding: 20px;
  background-color: #FFFCF6;
  color: #333;
}

.home h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.home p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: #f9edd6;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  flex: 1;
}

.card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card p {
  font-size: 1em;
}

.home-image {
  max-width: 100%;
  height: auto;
  flex: 1;
}

.button {
  display: inline-block;
  background-color: #FF8C00;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e67600;
}

.testimonials, .offers, .faq {
  margin: 20px 0;
}

.testimonial, .offer, .faq-item {
  background-color: #f9edd6;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}

.testimonial p, .offer p, .faq-item p {
  font-size: 1em;
}

/* Адаптивный дизайн для мобильных устройств */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .home-image {
    width: 100%;
    margin-top: 20px;
  }
}
