.skills {
    padding: 20px;
    text-align: center;
  }
  
  .skills h2 {
    margin-bottom: 20px;
  }
  
  .skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skills ul li {
    margin: 10px 0;
  }
  