.header {
    background-color: #a07d50;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .header nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .header nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  .header nav ul li a {
    color: white;
    text-decoration: none;
  }
  