.projects {
    padding: 20px;
    text-align: center;
  }
  
  .projects h2 {
    margin-bottom: 20px;
  }
  
  .projects ul {
    list-style-type: none;
    padding: 0;
  }
  
  .projects ul li {
    margin: 10px 0;
  }
  